PORT=5000
NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET="business_whatsapp_qr_dev_secret_key_1234567890123456"
APP_URL="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"
STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key_here"
